<!DOCTYPE html>
<html>
  <head>
    <title>Career Kit</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Career Kit</a></h1>
      <nav>
        <p>Hi <%= user.username %>!</p>
        <a href="/logout" class="button">Logout</a>
      </nav>
    </header>

    <main>
      <h2>My Profile</h2>
      <section>
        <ul class="card-list">
          <li class="card"><a href="/resumes">My Resumes</a></li>
          <li class="card"><a href="#">My Cover Letters (coming soon)</a></li>
          <li class="card"><a href="#">My Network (coming soon)</a></li>
          <li class="card"><a href="#">My Notes (coming soon)</a></li>
        </ul>
      </section>
    </main>
  </body>
</html>
