* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --black: rgba(51, 51, 51, 1);
  --white: rgba(246, 246, 246, 1);
  --accent: rgba(12, 51, 5, 1);
  --accentOp: rgba(12, 51, 5, 0.7);
  --accent2: rgba(176, 196, 222, 1);
  --error: rgba(220, 0, 0, 1);
  --error2: rgba(220, 20, 60, 1);
  --3d-effect: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15)
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: unset;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0.4px;
  color: var(--black);
}

body {
  max-width: 80vw;
  margin: auto;
  color: var(--black);
  background-color: var(--white);
  padding-bottom: 4em;
}

li {
  list-style: none;
}

h1 {
  background-color: var(--accent);
  color: var(--white);
  width: 100vw;
  margin: 0 -10vw 0.25em;
  padding: 1em 7.5vw;
  background-image: var(--3d-effect);
}

h1 a {
  text-decoration: none;
  color: var(--white);
}

nav {
  display: flex;
  justify-content: end;
  gap: 1em;
  align-items: center;
}

h2 {
  margin-bottom: 1em;
}

h3 > a {
  text-decoration: none;
}

main {
  margin: 2em;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 1em 0 2em;
}

form.list {
  flex-direction: column;
  margin: 1em 1em 2em;
}

form.center {
  justify-content: center;
  align-items: center;
}

.form-row {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.form-row > textarea {
  width: 50%;
  min-height: 80px;
}

.resume-form,
#experience-container,
#education-container,
.resume-section {
  display: flex;
  flex-direction: column;
  gap: 1.25em;

  .checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.25em;

    input {
      height: unset;
    }
  }
}

.resume-form .form-group {
  position: relative;
  display: flex;
  flex: 1;

  label {
    font-size: 0.75em;
    position: absolute;
    top: -14px;
  }

  input,
  select,
  textarea {
    flex: 1;
  }
}

.form-group.sm-width {
  flex: 0.5;
}

input,
textarea,
select,
button,
.button {
  padding: 0.5rem;
  border: 0.5px solid var(--black);
  border-radius: 4px;
  font-size: unset;
}

input {
  height: 37px;
}

button,
.button {
  display: inline-flex;
  border: none;
  cursor: pointer;
  background-color: var(--accent);
  color: var(--white);
  transform: scale(1);
  font-weight: 600;
  background-image: var(--3d-effect);
  text-decoration: none;
  width: max-content;
}

button:hover,
.button:hover,
a:hover {
  opacity: 0.8;
}

button:focus,
.button:focus {
  transform: scale(0.98);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 6px var(--accent);
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: 600;
}

.error {
  font-style: italic;
  color: var(--error);
}

.subtext {
  text-align: center;
  margin: 1em 0;
  padding: 1em 0;
  border-top: 1px solid var(--black);
}

.card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin: 1em 1em 2em;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px var(--accentOp);
  background-color: white;
}

.card > a {
  padding: 1.5em;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.card a > p {
  font-style: italic;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

th,
td {
  padding: 1em;
  text-align: left;
}

td {
  padding: 0.25em;
}

thead th {
  background-color: var(--accent2);
  font-weight: 600;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-icon {
  color: var(--error);
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-left: auto;
}

.delete-icon:hover {
  transform: scale(1.15);
  opacity: 0.9;
}

.delete-icon:active {
  transform: scale(0.98);
  opacity: 0.9;
}

@media screen and (max-width: 1024px) {
  body {
    max-width: 90vw;
  }

  h1 {
    margin: 0 -5vw 0.25em;
    padding: 1em 5vw;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin: 2em 0;
  }

  form {
    flex-direction: column;
  }

  .resume-form .form-row {
    flex-direction: column;

    .form-group {
      width: 100%;
    }
  }
}

@media screen and (max-width: 576px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
